In [16]:
import pandas as pd
import os 
import numpy as np 
import torch

In [26]:
p = '/data1/shared/jessica/drive_data/results/'
k = os.listdir(p)
m = ["binary_True" in elem for elem in os.listdir(p)]
k = np.array(k)[m]

In [27]:
index = []
df_rows = []
for elem in k:
    name = ((elem.split("aug")[1] + elem.split("aug")[2]).replace("_use", "")[1:-1]).replace("type_", "").replace("_size", "")
    print(name)

    path = p + elem + '/result.txt'
    if os.path.exists(path):
        index.append(name)
        with open(path, "r") as file:
            contents = file.read()
            df_rows.append([float(elem.split(":")[1].replace(" ", "")) for elem in contents.split(",")])

None__None
Embedded_KDE__200
KDE__50
baseline__50
Embedded_KDE__25
KDE__400
baseline__400
Embedded_KDE__100
baseline__400
KDE__200
baseline__50
baseline__200
baseline__200
Embedded__200
Embedded__400
Embedded__50
None__None

In [28]:
df_rows

[[0.73, 0.913, 0.106, 0.884, nan, 0.811, 0.106],
 [0.648, 0.875, 0.061, 0.907, nan, 0.803, 0.061],
 [0.723, 0.905, 0.098, 0.929, nan, 0.788, 0.098],
 [0.757, 0.925, 0.068, 0.893, nan, 0.811, 0.068],
 [0.692, 0.9, 0.068, 0.91, nan, 0.848, 0.068],
 [0.735, 0.92, 0.098, 0.879, nan, 0.758, 0.098],
 [0.673, 0.885, 0.098, 0.92, nan, 0.803, 0.098],
 [0.705, 0.898, 0.076, 0.934, nan, 0.727, 0.076],
 [0.614, 0.838, 0.129, 0.916, nan, 0.803, 0.129],
 [0.72, 0.916, 0.106, 0.863, nan, 0.727, 0.106],
 [0.737, 0.924, 0.106, 0.86, nan, 0.795, 0.106],
 [0.781, 0.939, 0.114, 0.883, nan, 0.735, 0.114],
 [0.704, 0.903, 0.076, 0.895, nan, 0.803, 0.076]]

In [29]:
df = pd.DataFrame(df_rows)

In [30]:
df

        0      1      2      3   4      5      6
0   0.730  0.913  0.106  0.884 NaN  0.811  0.106
1   0.648  0.875  0.061  0.907 NaN  0.803  0.061
2   0.723  0.905  0.098  0.929 NaN  0.788  0.098
3   0.757  0.925  0.068  0.893 NaN  0.811  0.068
4   0.692  0.900  0.068  0.910 NaN  0.848  0.068
5   0.735  0.920  0.098  0.879 NaN  0.758  0.098
6   0.673  0.885  0.098  0.920 NaN  0.803  0.098
7   0.705  0.898  0.076  0.934 NaN  0.727  0.076
8   0.614  0.838  0.129  0.916 NaN  0.803  0.129
9   0.720  0.916  0.106  0.863 NaN  0.727  0.106
10  0.737  0.924  0.106  0.860 NaN  0.795  0.106
11  0.781  0.939  0.114  0.883 NaN  0.735  0.114
12  0.704  0.903  0.076  0.895 NaN  0.803  0.076

In [31]:
df.columns = ['IoU', 'DSC', 'aACC', 'pACC', 'bACC', 'acc', 'f1']
df.index = index

In [32]:
df[['pACC', 'IoU', 'DSC', 'aACC', 'bACC', 'acc', 'f1']].sort_index()

                    pACC    IoU    DSC   aACC  bACC    acc     f1
Embedded_KDE__100  0.879  0.735  0.920  0.098   NaN  0.758  0.098
Embedded_KDE__200  0.907  0.648  0.875  0.061   NaN  0.803  0.061
Embedded_KDE__25   0.893  0.757  0.925  0.068   NaN  0.811  0.068
Embedded__200      0.860  0.737  0.924  0.106   NaN  0.795  0.106
Embedded__400      0.883  0.781  0.939  0.114   NaN  0.735  0.114
Embedded__50       0.895  0.704  0.903  0.076   NaN  0.803  0.076
KDE__200           0.934  0.705  0.898  0.076   NaN  0.727  0.076
KDE__400           0.910  0.692  0.900  0.068   NaN  0.848  0.068
KDE__50            0.929  0.723  0.905  0.098   NaN  0.788  0.098
None__None         0.884  0.730  0.913  0.106   NaN  0.811  0.106
baseline__200      0.863  0.720  0.916  0.106   NaN  0.727  0.106
baseline__400      0.920  0.673  0.885  0.098   NaN  0.803  0.098
baseline__50       0.916  0.614  0.838  0.129   NaN  0.803  0.129

In [11]:
mlb = {'Aorticenlargement': np.array([1,0,0,0,0,0,0,0,0,0,0,0,0,0,0]),       
       'Atelectasis': np.array([0,1,0,0,0,0,0,0,0,0,0,0,0,0,0]),         
       'Calcification': np.array([0,0,1,0,0,0,0,0,0,0,0,0,0,0,0]),       
       'Cardiomegaly': np.array([0,0,0,1,0,0,0,0,0,0,0,0,0,0,0]),        
       'Consolidation': np.array([0,0,0,0,1,0,0,0,0,0,0,0,0,0,0]),       
       'ILD': np.array([0,0,0,0,0,1,0,0,0,0,0,0,0,0,0]),                 
       'Infiltration': np.array([0,0,0,0,0,0,1,0,0,0,0,0,0,0,0]),        
       'LungOpacity': np.array([0,0,0,0,0,0,0,1,0,0,0,0,0,0,0]),         
       'Nofinding': np.array([0,0,0,0,0,0,0,0,1,0,0,0,0,0,0]),          
       'NoduleMass': np.array([0,0,0,0,0,0,0,0,0,1,0,0,0,0,0]),         
       'Otherlesion': np.array([0,0,0,0,0,0,0,0,0,0,1,0,0,0,0]),        
       'Pleuraleffusion': np.array([0,0,0,0,0,0,0,0,0,0,0,1,0,0,0]),    
       'Pleuralthickening': np.array([0,0,0,0,0,0,0,0,0,0,0,0,1,0,0]),  
       'Pneumothorax': np.array([0,0,0,0,0,0,0,0,0,0,0,0,0,1,0]),       
       'Pulmonaryfibrosis': np.array([0,0,0,0,0,0,0,0,0,0,0,0,0,0,1])}

In [18]:
targets = torch.tensor([[1,1,0], [0,1,1], [0,0,1]])

In [35]:
t = (targets[:,2] == 1).unsqueeze(1).long()
list(mlb['Nofinding']).index(1)

8

In [37]:
one_hot_tensor = torch.zeros((t.size(0), 2))
b = one_hot_tensor.scatter_(1, t, 1)

In [2]:
import torch

In [4]:
sigma = torch.exp(torch.tensor([0.0]))
sigma, sigma+torch.log(sigma + 1.0)

(tensor([1.]), tensor([1.6931]))